.footer {
    width: 100%;
}
.mobile__footer {
    width: 100%;
}
.desktop__footer {
    display: none;
}

@media (min-width: 768px) {
    .mobile__footer {
        display: none;
    }
    .desktop__footer {
        display: block;
    }
}